<div class="container">

  <div class="row">
    <div class="col-sm-4 offset-sm-1">
      <h3 class="mt-5 mb-4 pl-4 bg-light text-black">マイページ</h3><br>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-sm-1">
      <h2>登録情報</h2>
      <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-primary" %>
      <%= link_to "パスワードを変更する", edit_customer_registration_path(@customer), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="mt-3 col-8 offset-sm-1">
      <table class="table tabele-bordered">
        <tr>
          <th>氏名</th>
          <td>
            <%= @customer.first_name %>
            <%= @customer.last_name %>
          </td>
        </tr>

        <tr>
          <th>カナ</th>
          <td>
            <%= @customer.first_name_kana %>
            <%= @customer.last_name_kana%>
          </td>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td>
            <%= @customer.postcode %>
          </td>
        </tr>

        <tr>
          <th>住所</th>
          <td>
            <%= @customer.address %>
          </td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>
            <%= @customer.phone_number %>
          </td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>
            <%= @customer.email %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11 offset-sm-1">
      <strong class="ml-3">配送先</strong>
      <%= link_to "一覧を見る", deliveries_path, class: "btn btn-primary" %> <br><br>
      <strong>注文履歴</strong>
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %> <br><br>
    </div>
  </div>

</div>