      <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="hero__text">
                                <h2>Welcame to Nagano Cake!  <br>
                              Making your life sweeter one bite at a time!</h2><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

        <!-- Categories Section Begin -->
    <div class="categories">
        <div class="container">
            <div class="row">
                    <div class="categories__item">
                        <div class="categories__item__icon">
                        <%= link_to image_tag('muffin.png', width: '140'), products_path(genre_id: 1) %>
                            <h5>Cupcake</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                        <%= link_to image_tag('pudding.png', width: '140'), products_path(genre_id: 2) %>
                            <h5>Pudding</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                        <%= link_to image_tag('cookies.png', width: '140'), products_path(genre_id: 3) %>
                            <h5>Cookies</h5>
                        </div>
                    </div>
                    <div class="categories__item">
                        <div class="categories__item__icon">
                        <%= link_to image_tag('chocolate.png', width: '140'), products_path(genre_id: 4) %>
                            <h5>Chocolate</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Section End -->
            
            <br>
            <br>
            <br>
            <br>
            

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="">オススメ商品</h3>
      <div class="row">
        <% @products.first(4).each do |product| %>
        <% if product.genre.is_active == true %>
        <div class="col-sm-3">
          <div class="p-2">
            <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag product, :image, :fill, 200, 150, fallback: "no_image.jpg", :width => "200", :height => "150" %><br>
            <span><%= product.name %></span><br>
            <span><%= (product.tax_excluded_price * 1.1).floor.to_s(:delimited) %>円</span>
            <% end %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-3 mb-5">
    <div class="col-sm-2 offset-sm-9">
      <p><%= link_to "もっと見る＞", products_path %></p>
    </div>
  </div>
</div>
