<div class="container">
  <div class="row">
    <h4 class="mt-4 ml-5 mb-5">ジャンル編集</h4>
  </div>
  <% if @genre.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_for(@genre, url: admin_genre_path,method: :patch) do |f| %>
  <div class="row mb-5">
    <div class="mx-2">
      <label class="mx-1">ジャンル</label>
      <%= f.text_field :name %>
    </div>
    <div class="mx-2">
      <%= f.radio_button :is_active, :true %>
      <%= f.label :有効, class: "is_active_label"%>
    </div>
    <div class="mx-2">
      <%= f.radio_button :is_active, :false %>
      <%= f.label :無効, class: "is_active_label" %>
    </div>
    <%= f.submit "変更を保存する",class: "btn btn-primary btn-sm mx-2"%>
  </div>
  <% end %>
</div>