admin/genres#edit
<h2>ジャンル編集</h2>
<% if @genre.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@genre, url: admin_genre_path,method: :patch) do |f| %>
    <h4>ジャンル</h4>
      <%= f.text_field :name %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :無効, class: "is_active_label" %>
    <%= f.radio_button :is_active, :true %>
    <%= f.label :有効, class: "is_active_label"%>
<%= f.submit "変更を保存する",class: "btn btn-info btn-sm"%>
<% end %>