<h2>会員の方はこちらからログイン</h2>
<%= flash[:error] %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="field">
  <%= f.label "メールアドレス" %><br>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label "パスワード" %><br>
  <%= f.password_field :password, autocomplete: "current-password" %>
</div>

<% if devise_mapping.rememberable? %>
<div class="field">
  <%= link_to "＝＞パスワードを忘れた方はこちら", new_password_path(resource_name) %><br>
</div>

<div class="action-box">
  <div class="actions"><br>
    <%= f.submit "ログイン", class: "btn btn-default" %>
  </div>
</div>
<% end %>


  <h3>登録がお済みでない方</h3>
  <%= render "customer/customers/shared/links" %>
  <% end %>
</div>

