<div class="container">
  <div class="row">
    <h4 class="mt-4 ml-5 mb-5">商品新規登録</h4>
  </div>
  <div class="row">
    <% if @product.errors.any? %>
    <div class="text-danger">
      <h3><%= @product.errors.count %> errors prohibited this obj from being saved:</h3>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

  <%= form_for(@product,url:admin_products_path) do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.attachment_field :image %>
    </div>
    <div class="col-sm-6">
      <table>
        <tr>
          <td class="p-2 float-right">商品名</td>
          <td class="p-2"><%= f.text_field :name, :size => "30*30" %></td>
        </tr>
        <tr>
          <td class="p-2 float-right">商品説明</td>
          <td class="p-2"><%= f.text_area :description, :size => "30*100"%></td>
        </tr>
        <tr>
          <td class="p-2 float-right">ジャンル</td>
          <td class="p-2"><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %></td>
        </tr>
        <tr>
          <td class="p-2 float-right">税抜価格</td>
          <td class="p-2"><%= f.text_field :tax_excluded_price, :size => "30*30" %><span class="p-1">円</span></td>
        </tr>
        <tr>
          <td class="p-2 float-right">販売ステータス</td>
          <td class="p-2"><%= f.select :is_active, [["販売中", true], ["販売停止中", false]], :include_blank => "--選択してください--", :selected => "--選択してください--" %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 offset-sm-9">
      <%= f.submit "新規登録", class: "btn btn-primary btn-lg mb-5" %>
      <% end %>
    </div>
  </div>
</div>
